/*----------------------- MOVE IN from LEFT Animation ----------------------*/
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-30%);
	}

	70% {
		opacity: 1;
		transform: translateX(3%);
	}

	100% {
		transform: translateX(0);
	}
}

/*----------------------- MOVE IN from RIGHT Animation ----------------------*/
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(30%);
	}

	70% {
		opacity: 1;
		transform: translateX(-3%);
	}

	100% {
		transform: translateX(0);
	}
}

/*----------------------- MOVE IN from BOTTOM Animation ----------------------*/
@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(2rem);
	}

	100% {
		transform: translateY(0);
	}
}
